/*
HOOK LAYOUT
Author: IOTHOOK
Author url: http://www.iothook.com
Version: v.1.0
*/

/* @import url("effects.css"); */

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ LAYOUT GENERALS ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
html{
    font-size: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 1rem;
    margin: 0;
    box-sizing: inherit;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

input, textarea {
    outline: none;
}

.preloader{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    padding-top: 68px;
    width: 100px;
    height: 100px;
    text-align: center;
    z-index: 998;
}

.global-wrapper{
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    /*   background: #6c757d; */
}
.global-wrapper:after{ /*overlay*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    display: table;
    clear: both;
    z-index: -999;
}

.iothook-dashboard{
    position: relative;
    width: 100vw;
    height: 100vh;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.footer{
    margin-bottom: 1rem;
}
.footer .branding{
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center;
}
.footer .branding .logo:hover{
    color: #fff;
    text-decoration: none;
}
.footer .footer-menu{
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.footer .footer-menu a{
    display: inline-block;
    padding: 0.4em 0.6em;
    margin: 0.2rem;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 1rem;
    opacity: 0.8;
}
.footer .footer-menu a:hover{
    text-decoration: none;
    opacity: 1;
}
.footer .fb-col          { font-size: 0.8rem; line-height: 2rem; }
.footer .social-icons    { text-align: center; font-size: 1.2rem; }
.footer .social-icons a i{ width: 1rem; }
.footer .version-info    { text-align: right; font-size: 0.7rem;}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ DASHBOARD MAIN ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.dashboard-main{

}
.dashboard-main .dm-nav{
    position: relative;
    height: 4rem;
    z-index: 999;
}
.dm-nav a,
.dm-nav i,
.dm-nav a i,
.dm-nav button{
    color: inherit;
}
.dashboard-main .dm-nav .dm-nav-inner{
    justify-content: space-between;
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.nav-sticky{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 3rem !important;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}
.nav-sticky .nav-block{ height: 3rem !important; }

.nav-block{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-flow: row wrap;
    height: 4rem;
}
.dm-nav .branding{
    float: left;
    justify-content: normal;
    font-size: 1.8rem;
    font-weight: 900;
}
.dm-nav .dm-nav-inner .search{
    float: left;
    justify-content: normal;
    flex-grow: 1;
}
.dm-nav .dm-nav-inner .search{
    margin-left: 1rem;
}
.dm-nav .search form{
    display: flex;
    flex-grow: 1;
}
.dm-nav .search .input-container{
    width: 100%;
}
.dm-nav .search .input-container button{
    background: transparent;
    border: none;
    cursor: pointer;
}
.dm-nav .search .input-container input {
    background-color: transparent;
    border: none;
    padding-left: 0.25rem;
    height: 2rem;
    width: 100%;
    max-width: calc(100% - 3rem);
    color: inherit;
}
.dm-nav .dm-nav-menu .dm-item .dm-menu-link{
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
}
.dm-nav .dm-nav-menu .dm-item:last-child .dm-menu-link{
    padding-right: 0;
}
.dm-nav .dm-nav-menu .dm-item .dm-menu-link .profile-img-mini{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.2rem;
    opacity: 0.85;
}
.dm-nav .dm-nav-menu .dm-item .dm-menu-link:hover .profile-img-mini{
    opacity: 1;
}
.dm-nav .control{
    width: 10rem;
    justify-content: space-between;
}
.dm-nav .nav-toggle{
    display: none;
}

.dm-nav .dropdown .dropdown-header{
    color: #bfc7ce;
    font-size: 0.9em;
    font-weight: 700;
}
.dm-nav .dropdown .dropdown-header i{
    color: #bfc7ce;
    padding-right: 0.5em;
}

/*-------mobile menu-------*/
.mobile-nav{
    padding: 0.25rem 0;
    z-index: 999;
    display: none;
}
.mobile-nav.collapse.show{
    display: none;
}
.mobile-nav a{
    display: inline-block;
    width: 100%;
    padding: 0.5em 0;
}
.mn-item .new-notification{
    font-size: 0.8em;
    font-weight: 900;
}
.mn-item .new-notification:before{
    content: "(";
    margin-left: 0.5em;
}
.mn-item .new-notification:after{
    content: " new)";
}
.mobile-nav a:last-child{
    border: none;
}

/*-------dropdown menu-------*/
.dropdown-menu{
    font-size: 0.8rem;
    max-height: 20rem;
    overscroll-behavior: contain contain;
}
.dropdown-menu .dropdown-item {
    color: #6c757d;
}
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover{
    color: #f8f9fa;
    background: #6c757d;
}
.dropdown-menu .dropdown-item:active{
    color: #212529;
    background: #f8f9fa;
    opacity: 0.9;
}

/*-------notification menu-------*/
.not-toggle .new-notification{
    position: absolute;
    top: 0.3rem;
    left: 60%;
    font-size: 0.6rem;
    font-weight: 900;
    line-height: 0.8rem;
    padding: 0 0.2rem;
    border-radius: 0.5rem;
    color: #fff;
    background: #f14d4b;
    border: 0.1rem solid #fff;
}
.notifications{
    min-width: 24rem;
    max-width: 100%;
    padding: 0;

}
.notifications .notifications-wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain contain;
    max-height: 16rem;
    margin-bottom: 0.5rem;
}
.notifications .notifications-header{
    position: relative;
    width: 100%;
    font-size: 0.9em;
    height: 2em;
    margin: 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    white-space: nowrap;
}
.notifications .notifications-header .new-notification{
    font-weight: 900;
    color: #f14d4b;
}
.notifications .notifications-header .new-notification:before{
    content: "(";
    margin-left: 0.5em;
}
.notifications .notifications-header .new-notification:after{
    content: " new)";
}
.notifications .notification{
    display: block;
    margin: 0.4rem;
    padding: 0.5rem 0.75rem;
    clear: both;
    position: relative;
    border-radius: 0.25rem;
}

.notifications .notification:active{
    opacity: 0.9;
}
.notifications .notification .not-body{
    font-weight: 300;
    line-height: 1.2em;
}
.notifications .notification .not-info{
    font-style: italic;
    font-size: 0.8em;
}
.notifications .notification .time{
    font-weight: 700;
}

/*-------user card-------*/
.dashboard-main .user-card{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 3rem auto 2rem auto;
}
.dashboard-main .user-card .profile-img{
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.50rem;
}
.dashboard-main .user-card .full-name{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}
.dashboard-main .user-card .email{
    font-size: 1rem;
}

.hl-rounded{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ APPLETS ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.applet:before,
.applet:after,
.panel-outer:before,
.panel-outer:after,
.main-wrapper:before,
.main-wrapper:after,
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}

.applet:after,
.panel-outer:after,
.main-wrapper:after,
.clearfix:after {
    clear: both;
}

.applet,
.panel-outer,
.main-wrapper,
.clearfix {
    *zoom: 1;
}

.topbar,
.iothook-dashboard,
.title{
    font-family: "nunito", Arial, Helvetica, sans-serif;
}

.topbar{
    display: inline;
    height: 3.5rem;
    width: 100vw;
    background: rgba(255, 255, 255, 0.98);
}

.applet{
    display: block;
    position: relative;
    margin-bottom: 4rem;
    width: 100%;
}

.applet-inner{
    width: 100%;
    max-width: 27.5rem;
    margin: 3rem auto;

}

.applet .applet-header{
    margin: 1rem 0.5rem 1.5rem 0.5rem;
}

.applet .applet-header .title{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1rem;
}

.applet .applet-header .info{
    font-size: 0.8rem;
    display: inline-block;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ IOT PANEL ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.iot-panel{
    padding: 0;
    margin: -0.75rem;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: left;
}

.iot-object{
    width: 13rem;
    min-height: 13rem;
    margin: 0.75rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background: #fff;
    color: #5d6e65;
    font-size: 1rem;
}
/*
.iot-object:hover{
    width: 13.50rem;
    font-size: 1.05rem;
    margin: 0.25rem 0.50rem;
}
*/
.add-new{
    color: #0b7af1;
}
.add-new a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #0b7af1;
    cursor: pointer;
}
.add-new a:hover{
    text-decoration: none;
}
/*
.add-new::before{
    content: '+';
    font-size: 2em;
    padding: 0.5em;
    background: #6c757d;
}
*/
.device .device-type,
.sensor .sensor-type-n{
    font-size: 0.9em;
    padding-top: 0.2em;
}

.sensor .sensor-name,
.device .device-name{
    font-size: 1.8em;
}
.device-active-info{
    font-size: 0.8em;
    line-height: 1em;
}
.device-active-info h6{
    font-size: 0.7em;
    margin: 0;
}

.iot-object .io-footer{
    background: transparent;
    padding: 0.25rem 0.75rem 0.50rem 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #c2c2c2;
}

.iot-object .io-body{
    display: flex;
    flex-grow: 1;
    font-size: 0.75em;
    -webkit-border-radius: 1rem 1rem 0 0;
    -moz-border-radius: 1rem 1rem 0 0;
    border-radius: 1rem 1rem 0 0;
}
.iot-object .io-body:hover{
    background: #f8f9fa;
    -webkit-box-shadow: inset 0px -10px 21px -9px rgba(221,221,221,1);
    -moz-box-shadow: inset 0px -10px 21px -9px rgba(221,221,221,1);
    box-shadow: inset 0px -10px 21px -9px rgba(221,221,221,1);
}
.add-new:hover{
    background: #f8f9fa;
}
.iot-object .io-body .io-content-h{
    margin-bottom: 0.5em;
    font-weight: 600;
}
.iot-object .io-body a{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #5d6e65;
    padding: 0.75em;
}
.iot-object .io-body a:hover{
    text-decoration: none;
}
.iot-object .sensor-type{
    margin-bottom: 0.75em;
}
.iot-object .sensor-type span{
    display: inline-block;
    /*
    background: #2e3133;
    */
    background: #0b7af1;
    color: #fff;
    border-radius: 1em;
    padding: 0.25em 0.7em;
    margin-bottom: 0.2em;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.2em;
}

/*-------toggle button-------*/
.hl-toggle {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.5rem;
    height: 1.1em;
    margin-bottom: 0;
}
.hl-toggle .hl-toggle-lbl {
    position: relative;
    display: inline-block;
    width: 1.8em;
    height: 1em;
    background-color: #c2c2c2;
    border-radius: 0.5em;
    transition: all .5s ease;
}
.hl-toggle .hl-toggle-lbl::after {
    content: "";
    position: absolute;
    top: 0.1em;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.4em;
    background-color: #fff;
    box-shadow: 0 0 0.4em 0 rgba(0, 0, 0, 0.24);
    transition: all .3s ease;
}
.hl-toggle .hl-toggle-input:not(:checked) + .hl-toggle-lbl::after{ left: 0.1em; }
.hl-toggle .hl-toggle-input:checked + .hl-toggle-lbl::after { left: 0.9em; }
.hl-toggle .hl-toggle-input:checked + .hl-toggle-lbl { background-color: #4BD763; }
.hl-toggle .hl-toggle-input { display: none; }

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ RESPONSIVITY ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
@media only screen and  (min-width: 1200px) {
    html{
        font-size: 20px;
    }
    /* xl */
    .applet-inner{
        max-width: 42rem;
    }
}

@media only screen and  (min-width: 992px) and (max-width: 1199px){
    html{
        font-size: 20px;
    }
    .applet-inner{
        max-width: 42rem;
    }
    /* lg */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: 18px;
    }
    /* md */
}

@media only screen and  (min-width: 576px) and (max-width: 767px) {
    body{
        font-size: 18px;
    }
    .footer .fb-col{
        text-align: center;
    }
    /* sm */
}
@media only screen and  (min-width: 475px) and (max-width: 575px) {
    body{
        font-size: 15px;
    }
    .footer .fb-col{
        text-align: center;
    }
    /* xs */
}
@media only screen and (max-width: 474px) {
    body{
        font-size: 15px;
    }
    .iot-panel{
        max-width: 14.5rem;
        margin: 0 auto;
    }
    .dashboard-main .dm-nav .dm-nav-inner .dm-nav-menu,
    .dashboard-main .dm-nav .dm-nav-inner .search{
        display: none;
    }
    .nav-toggle{
        display: flex !important;
    }
    .mobile-nav.collapse.show{
        display: block !important;
    }
    .footer .fb-col{
        text-align: center;
    }
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ DEVICE PAGE REFACTORING ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.dashboard-main .turn-back {
    display: inline-block;
    padding: 0.5em;
}
.device-header{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
.device-header .device-name{
    font-size: 2rem;
    font-weight: 600;
}
.device-header .dm-badges{
    display: inline-block;
}
.device-header .dm-badge{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.25em 0.75em;
    margin: 0.25em;
    display: inline-block;
    border-radius: 1em;
    cursor: pointer;
}
.device-header .dm-badge:hover {
    text-decoration: none;
}
.device-header .dm-badge i{
    margin-right: 0.5em;
}
.device-header .device-desc{
    font-size: 1rem;
}
.device-menu{
    margin-top: 2rem;
    padding: 0.5rem 0;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ SCROLLBAR REFACTORING ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.iothook-panel-wrapper::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 5px;
}

.iothook-dashboard::-webkit-scrollbar{
    width: 10px;
}

.iothook-dashboard::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.6);
}
.menu-wrapper:hover::-webkit-scrollbar-track{
    border-radius: 3px;
}
.menu-wrapper:hover::-webkit-scrollbar{
    width: 6px;
}
.menu-wrapper:hover::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #555;
}

*::-webkit-scrollbar-track{
    border-radius: 3px;
}
*::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: rgba(255,255,255,0.6);  }

.tooltip .tooltip-inner {
    font-size: 0.8em;
    transition: all 1s ease;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ ANIMATIONS & EFFECTS ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.tooltip{
    transition-delay: .4s;
}

.dm-nav,
.nav-sticky,
.nav-block,
.iot-object{
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}