.overlay:after{
    background: #fff;
    opacity: 0.8;
}
.sidebar:before{
    border-left-color: #abdde5;
}
.applet .applet-header .title{
    color: #59aec3;
}
.topbar,
.device{
    -webkit-box-shadow: 12px 8px 58px 0 rgba(214,214,214,1);
    -moz-box-shadow: 12px 8px 58px 0 rgba(214,214,214,1);
    box-shadow: 12px 8px 58px 0 rgba(214,214,214,1);
}

