.global-wrapper:after{
    background: #000;
    opacity: 0.2;
}

.global-wrapper{
    background: url("../img/bg.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
}
.preloader{
    background: url("../img/puff.svg") top center no-repeat;
    color: rgba(244,244,244,0.8);
}
.dm-nav-inner{
    border-bottom: 1px solid rgba(244,244,244,0.2);
}
.nav-sticky{
    background: rgba(255,255,255,0.98);
    -webkit-box-shadow: 0 0.2rem 0.4rem 0 rgba(78, 89, 93, 0.6);
    -moz-box-shadow: 0 0.2rem 0.4rem 0 rgba(78, 89, 93, 0.6);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(78, 89, 93, 0.6);
}
.nav-sticky,
.nav-sticky i,
.nav-sticky a{
    color: rgba(108, 117, 125,0.8) !important;
}
.nav-sticky,
.nav-sticky .dm-nav-menu a:hover i,
.nav-sticky a:hover{
    color: rgba(108, 117, 125, 1) !important;
}
.dm-nav{
    color: rgba(244,244,244,0.8);
}
.dm-nav .dm-nav-menu a:hover i,
.dm-nav a:hover{
    color: rgba(244,244,244,1);
    text-decoration: none;
}
.notifications{
    background: rgba(52, 58, 64, 0.8);
    box-shadow: rgba(78, 89, 93, 0.6) 0 0 0.4rem 0;
}
.notifications .notification{
    color: #000;
    background: #f8f9fa;
}
.notifications .notification:focus,
.notifications .notification:hover{
    color: #27425f;
    background: #dfefff;
}
.notifications .unread{
    color: #243e58;
    background: #c5e2ff;
}
.notifications .notifications-header{
    color: #fff;
}
.notifications .not-info{
    padding-top: 0.25em;
    color: #93999e;
}
.search .input-container input::placeholder {
    color: rgba(244,244,244,0.6);
    font-weight: 300;
    font-style: italic;
    font-size: 0.9rem;
}
.mobile-nav{
    background: rgba(255,255,255,0.98);
}
.mobile-nav a,
.mobile-nav i{
    color: rgba(108, 117, 125,0.8) !important;
}
.mobile-nav a{
    border-bottom: 1px solid rgba(108, 117, 125,0.2);
}
.mobile-nav .search{
    border: 2px solid rgba(108, 117, 125,0.8);
    padding-left: 0.3rem;
    margin: 0.4rem auto;
    border-radius: 1rem;
}

.mobile-nav .search .input-container input{
    color: rgba(108, 117, 125,0.6) !important;
}
.mobile-nav .search .input-container input::placeholder,
.nav-sticky .search .input-container input::placeholder {
    color: rgba(108, 117, 125,0.6) !important;
}
.mn-item .new-notification{
    color: #f14d4b;
}
.applet{
    background: rgba(244,244,244,0.95);
}

.sidebar:before{
    border-left-color: rgba(255,255,255,0.3);
}
.applet .applet-header .title{
    color: #000;
}
.applet .applet-header .info{
    color: #fff;
    background: #009d43;
    border-radius: .2rem;
    padding: .1rem;
}
.topbar,
.iot-object{
    -webkit-box-shadow: 0 0 .4rem 0 rgba(78, 89, 93, 0.6);
    -moz-box-shadow: 0 0 .4rem 0 rgba(78, 89, 93, 0.6);
    box-shadow: 0 0 .4rem 0 rgba(78, 89, 93, 0.6);
}
.footer .branding       { margin-bottom: 0.5rem; }
.footer .social-icons a { margin: 0 0.25em; color: rgba(244,244,244,0.7); }
.footer .social-icons a:hover { margin: 0 0.25em; color: #fff;}
.footer .social-icons a,
.footer .branding a     { color: #d2d4d4; }
.footer .footer-menu    { border-bottom: 1px solid rgba(244,244,244,0.2); }
.footer .footer-menu a  { color: #454B4E; background: #F4F4F4; }
.footer .info .copyright{ color: #d0d2d3; font-weight: bold; margin-right: 0.25rem; }
.footer .version-info a { color: #F4F4F4; }
.footer .version-info a:hover{ color: #fff; }

.device-header{
    color: rgba(244,244,244,0.9);
}
.device-header .device-menu{
    border-top: 1px solid rgba(244,244,244,0.2);
}
.device-header .sensor-info{
    color: #007bff;
    background: rgba(244,244,244,0.9);
}
.device-header .api-key{
    color: #e0e0e0;
    background: rgba(36, 62, 88, 0.9);
}
.device-header .api-key:hover{
    background: rgba(55, 98, 138, 0.9);
}
.device-header .edit-device{
    color: #e0e0e0;
    background: rgba(58, 133, 103, 0.9);
}
.device-header .edit-device:hover{
    background: rgba(89, 141, 121, 0.9);
}
.device-header .get-data{
    color: #243e58;
    background: rgba(226, 226, 226, 0.9);
}
.device-header .get-data:hover{
    background: #fff;
}
.device-header .device-desc{
    font-weight: 300;
}
.dashboard-main .turn-back{
    color: rgba(244,244,244,0.8);
}
.dashboard-main .turn-back:hover{
    text-decoration: none;
    color: #fff;
}