{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>{% block title %}{% trans 'Dashboard for Iot Device' %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "back/dist/css/bootstrap3.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "back/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "back/dashboard/dashboard.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="{% static "back/assets/js/ie8-responsive-file-warning.js" %}"></script><![endif]-->
    <script src="{% static "back/assets/js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--<script src="{% static "back/assets/js/html5shiv.min.js" %}"></script>-->
    <!--<script src="{% static "back/assets/js/respond.min.js" %}"></script>-->

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static "back/dashboard/sticky-footer.css" %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83211037-1', 'auto');
      ga('send', 'pageview');
    </script>

    <style>
        label.required { color: #dd4b39; }
    </style>

    {% block exhead %}{% endblock %}
</head>

<body>

{% include 'back/navbar.html' %}

<div class="container-fluid">
    <div class="row">

        {% include 'back/sidebar.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{% block website_name %}{% endblock %}</h1>

            {% block content %}{% endblock %}

        </div>
    </div>
</div>

    {% include 'back/footer.html' %}

{% include 'back/js.html' %}

</body>
</html>

