{% load custom_tags %}
{% load i18n %}
{% load rest_framework %}
<main class="iothook-dashboard">
    <div class="dashboard-main">
        {% include 'back/dm_nav.html' %}
        {% block dashboardmain %}{% endblock %}
    </div>
</main>