{% extends "back/hl-base.html" %}

{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}

{% block errors %}
{% if msg_ok %}
    <div class="alert alert-info fixed-top" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning fixed-top" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}
{% endblock %}

{% block dashboardmain %}

{% include 'back/dm_nav.html' %}

<div class="container">
    <div class="device-header">
        <div class="device-title">
            <span class="device-name">{{device.channel_name}}</span>
        </div>
        <span class="device-desc">{{device.description}}</span>
        <div class="device-menu">
            <span class="dm-badge sensor-info">There are {{sensors|length}} sensors for this device.</span>
            <div class="d-inline-block">
                <a href="#" class="dm-badge get-data"><i class="fas fa-chart-area"></i>Data Chart</a>
                <a href="#" class="dm-badge get-data"><i class="fas fa-table"></i>Data Table</a>
            </div>
            <div class="d-inline-block">
                <a class="dm-badge api-key" data-toggle="modal" data-target="#apiKeyModal"><i class="fas fa-key"></i>API Keys</a>
                <a class="dm-badge edit-device" data-toggle="modal" data-target="#editDeviceModal"><i class="fas fa-edit"></i>Edit</a>
            </div>
        </div>
    </div>
    <a href="{% url 'index' %}" class="turn-back"><i class="fas fa-arrow-left"></i> Back to Devices</a>
</div>
{% endblock %}
{% block content %}

<div class="applets">
    <div class="container">
        <div class="devices applet">
            <div class="applet-inner">
                <div class="applet-header">
                    <span class="title">Sensors</span>
                    <span class="info">{{sensors|length}} active</span>
                </div>
                <div class="iot-panel">
                    {% for key, i in sensors.items %}
                    <div class="sensor iot-object">
                        <div class="io-body">
                            <a href="#">
                                <div class="io-content-h">
                                    <span class="sensor-name">{{ i | truncatechars:16 }}</span>
                                </div>
                                <h6>Last Data: </h6>
                                <span class="device-description">-</span>
                            </a>
                        </div>
                        <div class="io-footer">
                            <span class="sensor-type-n">Temperature</span>
                            <label class="hl-toggle">
                                <input checked type="checkbox" class="hl-toggle-input">
                                <i class="hl-toggle-lbl"></i>
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                    {% if sensors|length < 10 %}
                    <div class="add-new iot-object">
                        <a data-toggle="modal" data-target="#addSensor">
                            <div class="add-button">
                                <i class="fas fa-plus-circle"></i>
                                <span>Add Sensor</span>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block lastelems %}
<div class="modal fade" id="apiKeyModal" tabindex="-1" role="dialog" aria-labelledby="apiKeyTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="apiKeyTitle">API Keys</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Read API Key</h5>
                <p>{{device.api_key}} <a href="#"><i class="fas fa-copy"></i></a></p>
                <a href="#" role="button" class="btn btn-primary btn-sm"><i class="fas fa-redo-alt"></i> Generate New Key</a>
                <hr>
                <h5>Write API Key</h5>
                <p>{{device.api_key}} <a href="#"><i class="fas fa-copy"></i></a></p>
                <a href="#" role="button" class="btn btn-primary btn-sm"><i class="fas fa-redo-alt"></i> Generate New Key</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addSensor" tabindex="-1" role="dialog" aria-labelledby="addNewSensor" aria-hidden="true">
    <form role="form" class="modal-dialog modal-lg" action="" method="POST" novalidate> {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewSensor">Add New Sensor(s)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="form-type" value="{{sensoraddform.prefix}}">
                {{ sensoraddform.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Sensor(s)</button>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="editDeviceModal" tabindex="-1" role="dialog" aria-labelledby="editDeviceTitle" aria-hidden="true">
    <form role="form" class="modal-dialog modal-lg" action="" method="POST" novalidate> {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDeviceTitle">Edit Device</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="form-type" value="{{deviceeditform.prefix}}">
                {{ deviceeditform.as_p }}
                <!--
                <div class="form-group row">
                    <label for="id_device" class="col-sm-3 col-form-label">Device Type*</label>
                    <div class="col-sm-9">
                        <select name="device" class="form-control" id="id_device" aria-describedby="dtypeHelp" required>
                            <option value="" selected="">---------</option>
                            <option value="1">Other</option>
                            <option value="2">Arduino</option>
                            <option value="3">Raspberry pi</option>
                            <option value="4">Android</option>
                            <option value="5">iOS</option>
                            <option value="6">Windows phone</option>
                            <option value="7">Netduino</option>
                            <option value="8">Intel Edison</option>
                            <option value="9">Galileo</option>
                            <option value="10">BeagleBoard</option>
                            <option value="11">UDOO</option>
                            <option value="12">CubieBoard</option>
                            <option value="13">Pic</option>
                            <option value="14">Linux</option>
                            <option value="15">Windows</option>
                            <option value="16">Mac OS X</option>
                            <option value="17">Asus Tinker</option>
                            <option value="18">Android Things</option>
                            <option value="19">Orange pi</option>
                            <option value="20">Nanopi</option>
                            <option value="21">Esp8266</option>
                            <option value="22">Nodemcu</option>
                        </select>
                        <small id="dtypeHelp" class="form-text text-muted">What is the type of the device?</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_name" class="col-sm-3 col-form-label">Device Name*</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" id="id_name" class="form-control" maxlength="30" aria-describedby="dnameHelp" required>
                        <small id="dnameHelp" class="form-text text-muted">How do you want to name the device?</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea name="description" maxlength="255" id="id_description" rows="6" class="form-control" cols="40" aria-describedby="ddescHelp"></textarea>
                        <small id="ddescHelp" class="form-text text-muted">Enter a description for the device. This will be displayed on your homepage.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_enable" class="col-sm-3 col-form-label">Enable</label>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="enable" checked="" id="id_enable"> Device active/passive
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <h6>Sensor 1</h6>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="id_sensor_1_type" class="col-sm-3 col-form-label">Type*</label>
                    </div>
                    <div class="col-sm-4">
                        <select name="sensor_1_type" class="form-control" id="id_sensor_1_type">
                            <option value="Diğer">Diğer</option>
                            <option value="Nem sensörü">Nem sensörü</option>
                            <option value="Gaz sensörü">Gaz sensörü</option>
                            <option value="Işık sensörü">Işık sensörü</option>
                            <option value="Ağırlık sensörü">Ağırlık sensörü</option>
                            <option value="Mems ve Eğim sensörü">Mems ve Eğim sensörü</option>
                            <option value="Renk sensörü">Renk sensörü</option>
                            <option value="Akım/VoltajAkım Sensörü">Akım/VoltajAkım Sensörü</option>
                            <option value="Basınç ve Kuvvet Sensörü">Basınç ve Kuvvet Sensörü</option>
                            <option value="Rüzgar Sensörü">Rüzgar Sensörü</option>
                            <option value="Sıcaklık Sensörü">Sıcaklık Sensörü</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="id_sensor_1" class="col-sm-3 col-form-label">Name*</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="sensor_1" id="id_sensor_1" required="" class="form-control" maxlength="25">
                    </div>
                </div>
                <h6>Sensor 2</h6>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="id_sensor_2_type" class="col-sm-3 col-form-label">Type</label>
                    </div>
                    <div class="col-sm-4">
                        <select name="sensor_2_type" class="form-control" id="id_sensor_2_type">
                            <option value="Diğer">Diğer</option>
                            <option value="Nem sensörü">Nem sensörü</option>
                            <option value="Gaz sensörü">Gaz sensörü</option>
                            <option value="Işık sensörü">Işık sensörü</option>
                            <option value="Ağırlık sensörü">Ağırlık sensörü</option>
                            <option value="Mems ve Eğim sensörü">Mems ve Eğim sensörü</option>
                            <option value="Renk sensörü">Renk sensörü</option>
                            <option value="Akım/VoltajAkım Sensörü">Akım/VoltajAkım Sensörü</option>
                            <option value="Basınç ve Kuvvet Sensörü">Basınç ve Kuvvet Sensörü</option>
                            <option value="Rüzgar Sensörü">Rüzgar Sensörü</option>
                            <option value="Sıcaklık Sensörü">Sıcaklık Sensörü</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="id_sensor_2" class="col-sm-3 col-form-label">Name</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="sensor_2" id="id_sensor_2" required="" class="form-control" maxlength="25">
                    </div>
                </div>
                <h6>Sensor 3</h6>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="id_sensor_3_type" class="col-sm-3 col-form-label">Type</label>
                    </div>
                    <div class="col-sm-4">
                        <select name="sensor_3_type" class="form-control" id="id_sensor_3_type">
                            <option value="Diğer">Diğer</option>
                            <option value="Nem sensörü">Nem sensörü</option>
                            <option value="Gaz sensörü">Gaz sensörü</option>
                            <option value="Işık sensörü">Işık sensörü</option>
                            <option value="Ağırlık sensörü">Ağırlık sensörü</option>
                            <option value="Mems ve Eğim sensörü">Mems ve Eğim sensörü</option>
                            <option value="Renk sensörü">Renk sensörü</option>
                            <option value="Akım/VoltajAkım Sensörü">Akım/VoltajAkım Sensörü</option>
                            <option value="Basınç ve Kuvvet Sensörü">Basınç ve Kuvvet Sensörü</option>
                            <option value="Rüzgar Sensörü">Rüzgar Sensörü</option>
                            <option value="Sıcaklık Sensörü">Sıcaklık Sensörü</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="id_sensor_3" class="col-sm-3 col-form-label">Name</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="sensor_3" id="id_sensor_3" required="" class="form-control" maxlength="25">
                    </div>
                </div>
                -->
            </div>
            <div class="modal-footer">
                <a href="/channel/delete/{{device.id}}/" class="btn btn-danger">Delete Device</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
