{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}
{% load rest_framework %}

<nav class="dm-nav">
    <div class="container">
        <div class="dm-nav-inner">
            <div class="branding nav-block"><a class="logo" href="{% url 'index' %}">iothook</a></div>
            <div class="search nav-block">
                <form role="search">
                    <div class="input-container">
                        <button type="submit"><i class="fas fa-search"></i></button>
                        <input type="search" placeholder="Type anything...">
                        <div class="underline"></div>
                    </div>
                </form>
            </div>
            <div class="dm-nav-menu control nav-block">
                {% if user.is_authenticated %}
                <div class="dm-item dropdown show">
                    <a class="dm-menu-link not-toggle" id="notifications-toggle" data-toggle="dropdown" data-tooltip="tooltip" title="Notifications"><i class="fas fa-bell"></i><span class="new-notification">17</span></a>
                    <div class="dropdown-menu dropdown-menu-right notifications" aria-labelledby="notifications-toggle">
                        <h6 class="notifications-header">Notifications<span class="new-notification">17</span></h6>
                        <div class="notifications-wrapper">
                            <a class="notification unread" href="#">
                                <div class="not-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                <div class="not-info"><span class="time">2hours</span></div>
                            </a>
                            <a class="notification unread" href="#">
                                <div class="not-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                <div class="not-info"><span class="time">10hours</span></div>
                            </a>
                            <a class="notification" href="#">
                                <div class="not-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                                <div class="not-info"><span class="time">2days</span></div>
                            </a>
                            <a class="notification" href="#">
                                <div class="not-body">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                <div class="not-info"><span class="time">15.12.2017</span></div>
                            </a>
                            <a class="notification" href="#">
                                <div class="not-body">Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat.</div>
                                <div class="not-info"><span class="time">12.12.2017</span></div>
                            </a>
                            <a class="notification" href="#">
                                <div class="not-body">Purus ut faucibus pulvinar elementum integer enim neque volutpat. </div>
                                <div class="not-info"><span class="time">10.12.2017</span></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dm-item"><a class="dm-menu-link" href="/admin/" data-tooltip="tooltip" title="{% trans 'Ayarlar' %}"><i class="fas fa-cog"></i></a></div>
                <div class="dm-item"><a class="dm-menu-link" href="/api-auth/logout/" data-tooltip="tooltip" title="{% trans 'Çıkış' %}"><i class="fas fa-sign-out-alt"></i></a></div>
                <div class="dm-item dropdown show">
                    <a class="dm-menu-link" id="user-menu-toggle" data-toggle="dropdown"><img class="profile-img-mini hl-rounded" src="{% static "back/dashboard/img/profile-photo.jpg" %}"/></a>
                    <div class="dropdown-menu dropdown-menu-right user-menu" aria-labelledby="user-menu-toggle">
                        <h6 class="dropdown-header"><i class="fas fa-user"></i>{{ user }}</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">My Devices</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/api-auth/logout/">{% trans 'Çıkış' %}</a>
                    </div>
                </div>
                {% else %}
                <div class="dm-item"><a class="dm-menu-link" href="/api/" data-tooltip="tooltip" title="{% trans 'Giriş' %}"><i class="fas fa-user"></i></a></div>
                {% endif %}
            </div>
            <div class="nav-toggle nav-block">
                <button class="navbar-toggler d-sm-none d-md-block" type="button" data-toggle="collapse" data-target="#mobilenavbar" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
</nav>