{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans 'Dashboard for Iot Device' %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="{% static "back/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "back/dashboard/hook-layout.css" %}">
    <link rel="stylesheet" href="{% static "back/dashboard/colorsheet/slate-blue.css" %}">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
    <script src="{% static "back/assets/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "back/dist/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "back/dashboard/js/hook-layout.js" %}"></script>
</head>
<body>
<div class="preloader">loading</div>
<div class="global-wrapper">
    <main class="iothook-dashboard">
        {% block errors %}{% endblock %}
        <div class="dashboard-main">
        {% block dashboardmain %}{% endblock %}
        </div>

        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="branding"><a class="logo" href="#">iothook</a></div>
                <nav class="footer-menu">
                    <a href="#">About</a>
                    <a href="#">Help</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                </nav>
                <div class="row">
                    <div class="info fb-col col-md-4"><span class="copyright">©2017</span>IotHook</div>
                    <div class="social-icons fb-col col-md-4">
                        <a href="https://www.facebook.com/iothook" data-tooltip="tooltip" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/iothook" data-tooltip="tooltip" title="Twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://plus.google.com/u/0/109817004907519538061/about" data-tooltip="tooltip" title="Google+"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                    <div class="version-info fb-col col-md-4">Ver: 12122017/2 / <a href="#">iothook.com</a></div>
                </div>
            </div>
        </footer>
    </main>
</div>
{% block lastelems %}{% endblock %}
</body>
</html>