{% extends "back/hl-base.html" %}

{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}

{% block dashboardmain %}
{% include 'back/dm_nav.html' %}
<div class="container">
    <div class="user-card">
        <img class="profile-img hl-rounded" src="{% static "back/dashboard/img/profile-photo.jpg" %}"/>
        <span class="full-name">{{ user }}</span>
        <span class="email">{{ user.email}}</span>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="applets">
    <div class="container">
        <div class="devices applet">
            <div class="applet-inner">
                <div class="applet-header">
                    <span class="title">Devices</span>
                    <span class="info">{{activedevices.count}} active</span>
                </div>
                <div class="iot-panel">
                    {% for i in devices %}
                    <div class="device iot-object" id="device_{{i.id}}">
                        <div class="io-body">
                            <a href="{% url 'device_detail' i.id %}">
                                <div class="io-content-h">
                                    <span class="device-name">{{ i.channel_name | truncatechars:16 }}</span>
                                </div>
                                <div class="sensor-type">
                                    {% if i.element_1 %}
                                    <span>{{ i.element_1 }}</span>
                                    {% endif %}
                                    {% if i.element_2 %}
                                    <span>{{ i.element_2 }}</span>
                                    {% endif %}
                                    {% if i.element_3 %}
                                    <span>{{ i.element_3 }}</span>
                                    {% endif %}
                                    {% if i.element_1 and i.element_2 and i.element_3 and i.element_4 %}
                                    <span>...</span>
                                    {% endif %}
                                </div>
                                <span class="device-description">{{ i.description | truncatechars:160 }}</span>
                            </a>
                        </div>
                        <div class="io-footer">
                            <span class="device-type">Arduino Uno</span>
                            <label class="hl-toggle">
                                <input {% if i.enable %}checked{% endif %} type="checkbox" class="hl-toggle-input" onclick="changeDeviceStatus({{i.id}})">
                                <i class="hl-toggle-lbl"></i>
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                    {% if devices.count != 10 %}
                    <div class="add-new iot-object">
                        <a data-toggle="modal" data-target="#addDevice">
                            <div class="add-button">
                                <i class="fas fa-plus-circle"></i>
                                <span>Add Device</span>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    <script>
                        function changeDeviceStatus(id){
                            $.ajaxSetup({beforeSend: function(xhr, settings){
                                    xhr.setRequestHeader('X-CSRFToken',
                                        '{{ csrf_token }}');
                                }});

                            $.ajax({
                                url : "device/" + id + "/", // the endpoint
                                type : "POST", // http method
                                data : {
                                    'form-type': "change_status",
                                    'device-id': id }, // data sent with the post request

                                // handle a successful response
                                success : function(json) {
                                    console.log("Success"); // another sanity check
                                },

                                // handle a non-successful response
                                error : function(xhr,errmsg,err) {
                                    console.log("An error occured! Response Code: " + xhr.status); // provide a bit more info about the error to the console
                                }
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block lastelems %}
<div class="modal fade" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="addNewDevice" aria-hidden="true">
    <form role="form" class="modal-dialog modal-lg" action="" method="POST" novalidate> {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewDevice">Add New Device</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ adddeviceform.as_p }}
                <input type="hidden" name="form-type" value="{{adddeviceform.prefix}}">
                <!--
                <div class="form-group row">
                    <label for="id_device" class="col-sm-3 col-form-label">Device Type*</label>
                    <div class="col-sm-9">
                        <select name="device" class="form-control" id="id_device" aria-describedby="dtypeHelp" required>
                            <option value="" selected="">---------</option>
                            <option value="1">Other</option>
                            <option value="2">Arduino</option>
                            <option value="3">Raspberry pi</option>
                            <option value="4">Android</option>
                            <option value="5">iOS</option>
                            <option value="6">Windows phone</option>
                            <option value="7">Netduino</option>
                            <option value="8">Intel Edison</option>
                            <option value="9">Galileo</option>
                            <option value="10">BeagleBoard</option>
                            <option value="11">UDOO</option>
                            <option value="12">CubieBoard</option>
                            <option value="13">Pic</option>
                            <option value="14">Linux</option>
                            <option value="15">Windows</option>
                            <option value="16">Mac OS X</option>
                            <option value="17">Asus Tinker</option>
                            <option value="18">Android Things</option>
                            <option value="19">Orange pi</option>
                            <option value="20">Nanopi</option>
                            <option value="21">Esp8266</option>
                            <option value="22">Nodemcu</option>
                        </select>
                        <small id="dtypeHelp" class="form-text text-muted">What is the type of the device?</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_name" class="col-sm-3 col-form-label">Device Name*</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" id="id_name" class="form-control" maxlength="30" aria-describedby="dnameHelp" required>
                        <small id="dnameHelp" class="form-text text-muted">How do you want to name the device?</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea name="description" maxlength="255" id="id_description" rows="6" class="form-control" cols="40" aria-describedby="ddescHelp"></textarea>
                        <small id="ddescHelp" class="form-text text-muted">Enter a description for the device. This will be displayed on your homepage.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_enable" class="col-sm-3 col-form-label">Enable</label>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="enable" checked="" id="id_enable"> Device active/passive
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <h6>Sensor 1</h6>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="id_sensor_1_type" class="col-sm-3 col-form-label">Type*</label>
                    </div>
                    <div class="col-sm-4">
                        <select name="sensor_1_type" class="form-control" id="id_sensor_1_type">
                            <option value="Diğer">Diğer</option>
                            <option value="Nem sensörü">Nem sensörü</option>
                            <option value="Gaz sensörü">Gaz sensörü</option>
                            <option value="Işık sensörü">Işık sensörü</option>
                            <option value="Ağırlık sensörü">Ağırlık sensörü</option>
                            <option value="Mems ve Eğim sensörü">Mems ve Eğim sensörü</option>
                            <option value="Renk sensörü">Renk sensörü</option>
                            <option value="Akım/VoltajAkım Sensörü">Akım/VoltajAkım Sensörü</option>
                            <option value="Basınç ve Kuvvet Sensörü">Basınç ve Kuvvet Sensörü</option>
                            <option value="Rüzgar Sensörü">Rüzgar Sensörü</option>
                            <option value="Sıcaklık Sensörü">Sıcaklık Sensörü</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="id_sensor_1" class="col-sm-3 col-form-label">Name*</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="sensor_1" id="id_sensor_1" required="" class="form-control" maxlength="25">
                    </div>
                </div>
                <h6>Sensor 2</h6>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="id_sensor_2_type" class="col-sm-3 col-form-label">Type</label>
                    </div>
                    <div class="col-sm-4">
                        <select name="sensor_2_type" class="form-control" id="id_sensor_2_type">
                            <option value="Diğer">Diğer</option>
                            <option value="Nem sensörü">Nem sensörü</option>
                            <option value="Gaz sensörü">Gaz sensörü</option>
                            <option value="Işık sensörü">Işık sensörü</option>
                            <option value="Ağırlık sensörü">Ağırlık sensörü</option>
                            <option value="Mems ve Eğim sensörü">Mems ve Eğim sensörü</option>
                            <option value="Renk sensörü">Renk sensörü</option>
                            <option value="Akım/VoltajAkım Sensörü">Akım/VoltajAkım Sensörü</option>
                            <option value="Basınç ve Kuvvet Sensörü">Basınç ve Kuvvet Sensörü</option>
                            <option value="Rüzgar Sensörü">Rüzgar Sensörü</option>
                            <option value="Sıcaklık Sensörü">Sıcaklık Sensörü</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="id_sensor_2" class="col-sm-3 col-form-label">Name</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="sensor_2" id="id_sensor_2" required="" class="form-control" maxlength="25">
                    </div>
                </div>
                <h6>Sensor 3</h6>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="id_sensor_3_type" class="col-sm-3 col-form-label">Type</label>
                    </div>
                    <div class="col-sm-4">
                        <select name="sensor_3_type" class="form-control" id="id_sensor_3_type">
                            <option value="Diğer">Diğer</option>
                            <option value="Nem sensörü">Nem sensörü</option>
                            <option value="Gaz sensörü">Gaz sensörü</option>
                            <option value="Işık sensörü">Işık sensörü</option>
                            <option value="Ağırlık sensörü">Ağırlık sensörü</option>
                            <option value="Mems ve Eğim sensörü">Mems ve Eğim sensörü</option>
                            <option value="Renk sensörü">Renk sensörü</option>
                            <option value="Akım/VoltajAkım Sensörü">Akım/VoltajAkım Sensörü</option>
                            <option value="Basınç ve Kuvvet Sensörü">Basınç ve Kuvvet Sensörü</option>
                            <option value="Rüzgar Sensörü">Rüzgar Sensörü</option>
                            <option value="Sıcaklık Sensörü">Sıcaklık Sensörü</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="id_sensor_3" class="col-sm-3 col-form-label">Name</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="sensor_3" id="id_sensor_3" required="" class="form-control" maxlength="25">
                    </div>
                </div>
                -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Device</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
